* {
    margin:0px;
    padding:0px;
}

html{
    width: 100vw;
    overflow-x: hidden;
  }

.colorGris{
    color: rgb(62, 70, 78)
}

#boldNegra{
    font-style: initial;
    font-weight: bolder;
    color: black;
}


header h1{
    text-align:center;
    font-size:30px;
    margin-top:7rem;
}

header h3{
    text-align:center;
}

html{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

h3{
    letter-spacing: 4px;
}

.colorTitulo{
    color: rgb(24, 24, 71);
    margin-bottom:35px;
    padding:0;
    border: none;
}

/* body h2 table th{
    background-color: rgb(199, 199, 199);
} */

a{
    text-decoration: none;
    color: black;
}

html{
    background-image: url("../Img/Fondo 2.jpg");
    background-position: center;
    background-size:auto;
    width: 100vw;
    height:100vh;
}

header{
    background-color: rgb(174, 198, 223);
}

.colorVolver{
    background-color: rgb(174, 198, 223);
    border:1px solid rgb(24, 24, 71);
    position: absolute;
    left: 33vw;
    margin-top: 1%;
}

.img__agrandar{
    margin: 5%;
    position:relative;
    width: 400px;
    height: 266px;
    transition: 2s;
}

.img__agrandar:hover{
    transform: scale(1.5,1.5);
    z-index: 2;
}

section{
    position:relative;
    margin-top: 1px;
}

.animacion2{
    animation:translate 4s;
    transform: translate(-20px,10px);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes translate{ 0%
    {transform:translate(10px,10px);
    }
}

.banner{
    width: 750px;
    height: 139px;
    margin-left: 20%;
}

/* form{
    position: relative;
    left: 585px;
    background-color: rgb(174, 198, 223);
    border-style:solid;
    border-color: rgb(85, 80, 117);
    width: 180px;
    height: 180Px;
    padding: 2px;
    text-align: center;
} */

.div__centrar{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(to top,rgb(62, 70, 78),rgb(174,198,223));
    font-size: 25px;
    height: 45px;;
}

article{
    text-align: center;
    font-size: 40px;
}

.centrarTexto{
    text-align: center;
}

.bio{
    font-size: 20px;
}

/* .ejeY{
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 5%;
    padding:0;
    text-align: center;
} */

.article__legales{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 40px;
    padding: 40px;
}

.contenedor{
    width: 100%;
    max-width: 100%;
    /* min-width: 44%; */
    margin:0 auto;
    overflow: scroll;
}

.img__centrar{
    margin-left: 10%;
}

.img__indexCentrar{
    margin-left: 30vw;
}

/* form{
    background-color: rgb(174, 198, 223);
    width: 200px;
    height: 200px;
    border-left: 0%;
} */

@keyframes animacion{
    from {background-color: rgb(174, 198, 223);}
    to {background-color: rgb(199, 199, 199);}
}

header{
    background-color: rgb(174, 198, 223);
    animation-duration: 3s;
    animation-name: animacion;
    transition: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.contactanos{
    font-size: 25px;
    background-color: none;
    width:700px;
    height:50px;
    margin-bottom: 60px;
    /* text-align: center; */
}

.articulo{
    font-size: 20px;
    margin-bottom: 20px;
}

.header__titulo{
    font-size: 40px;
}

.header__subtitulo{
    font-size: 28px;
}

@media screen and(max-width: 768px){
 .articulo{
    font-size: 40px;
 }
 .header__titulo{
    font-size: 30px;
 }
 .header__subtitulo{
    font-size:20px;
 }
 .centrarMenu{
    font-size: 15px bold;
 }

 .img__indexCentrar{
     margin-left: 0%;
 }
}







