@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

html {
  width: 100vw !important;
  overflow-x: hidden !important;
}

.colorGris {
  color: #3e464e;
}

#boldNegra {
  font-style: initial;
  font-weight: bolder;
  color: black;
}

header h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 0rem;
}

header h3 {
  text-align: center;
}

html {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

h3 {
  letter-spacing: 4px;
}

.colorTitulo {
  color: #181847;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  background-image: url("../Img/Fondo 2.jpg");
  background-position: center;
  background-size: auto;
  width: 100vw;
  height: 100vh;
}

header {
  background-color: #aec6df;
}

.colorVolver {
  background-color: #aec6df;
  border: 1px solid none;
  position: relative;
  margin-top: 1%;
  padding: 5px;
  margin-bottom: 1%;
}

.div__Volver {
  display: flex;
  justify-content: center;
  height: 30vh;
}

.img__agrandar {
  margin: 5%;
  position: relative;
  width: 400px;
  height: 266px;
  transition: 2s;
}

.img__agrandar:hover {
  transform: scale(1.5, 1.5);
  z-index: 2;
}

section {
  position: relative;
  margin-top: 1px;
}

.animacion2 {
  animation: translate 4s;
  transform: translate(-20px, 10px);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes translate {
  0% {
    transform: translate(10px, 10px);
  }
}

.banner {
  width: 100vw;
  height: auto;
  margin-left: 20%;
}

.div__centrar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(to top, #3e464e, #aec6df);
  font-size: 25px;
  height: 45px;
}

article {
  text-align: center;
  font-size: 40px;
}

.centrarTexto {
  text-align: center;
}

.bio {
  font-size: 20px;
}

.article__legales {
  margin: 20px;
  padding: 20px;
}

.contenedor {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: scroll;
}

.img__centrar {
  margin-left: 15%;
}

.img__indexCentrar {
  margin-left: 30vw;
}

.img__indexCentrar2 {
  margin-left: 41vw;
}

@keyframes animacion {
  from {
    background-color: #aec6df;
  }
  to {
    background-color: #c7c7c7;
  }
}

header {
  background-color: #aec6df;
  animation-duration: 3s;
  animation-name: animacion;
  transition: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
}

.contactanos {
  font-size: 25px;
  background-color: none;
  width: 700px;
  height: 50px;
  margin-bottom: 60px;
  text-align: center;
}

.articulo {
  font-size: 20px;
  margin-bottom: 20px;
}

.header__titulo {
  font-size: 40px;
  margin-top: 0;
  position: relative;
}

.header__subtitulo {
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .header__titulo {
    font-size: 30px;
  }
  .header__subtitulo {
    font-size: 20px;
  }
  .centrarMenu {
    font-size: 15px bold;
  }
  .img__indexCentrar {
    margin-left: 0%;
  }
}

footer {
  background-image: linear-gradient(to top, #3e464e, #aec6df);
  border-style: none;
  margin-top: 0;
}

footer em {
  margin-left: 0;
  text-align: center;
  font-family: monospace;
  font-size: 15px;
}

footer h2 {
  text-align: center;
  font-size: 15px;
}

.ejeY {
  display: flex;
  flex-direction: column;
  border: none;
  margin-top: 6%;
  padding: 0;
  text-align: center;
}

.tamañoLetra-1 {
  font-size: 25px;
}

.tamañoLetra-2 {
  font-size: 50px;
}

.color-lightblue {
  color: lightblue;
}

.color-cyan {
  color: cyan;
}

.color-darkblue {
  color: darkblue;
}

.tamaño {
  height: auto;
  width: fit-content;
}

.btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.5rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-secondary {
  color: #3e464e;
  background-color: #aec6df;
  border-color: #aec6df;
  border-radius: 0;
}

.div_menu_letra {
  font-size: 1.5rem;
  color: #212529;
  text-align: left;
  list-style: none;
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #212529;
  background-color: #aec6df;
  border-color: #aec6df;
  box-shadow: #3e464e;
}

.img_fondo {
  background-image: linear-gradient(to left, #aec6df, #fff, #aec6df);
}

.img_fondo2 {
  background-image: linear-gradient(#aec6df, #fff, #aec6df);
}

.img_icono_header {
  width: 175px;
  height: auto;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.body__padding0 {
  padding: 0;
}
/*# sourceMappingURL=estilos.css.map */