* {
    margin:0px;
    padding:0px;
}

html{
    width: 100vw;
    overflow-x: hidden;
  }

.colorGris{
    color: rgb(62, 70, 78)
}

#boldNegra{
    font-style: initial;
    font-weight: bolder;
    color: black;
}


header h1{
    text-align:center;
    font-size:30px;
    margin-top:0rem;
}

header h3{
    text-align:center;
}

html{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

h3{
    letter-spacing: 4px;
}

.colorTitulo{
    color: rgb(24, 24, 71);
    margin-bottom:35px;
    padding:0;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

html{
    background-image: url("../Img/Fondo 2.jpg");
    background-position: center;
    background-size:auto;
    width: 100vw;
    height:100vh;
}

header{
    background-color: rgb(174, 198, 223);
}

.colorVolver{
    background-color: rgb(174, 198, 223);
    border:1px solid none;
    position: absolute;
    left: 40vw;
    margin-top: 1%;
    padding:5px;
    margin-bottom: 6%;
}

.img__agrandar{
    margin: 5%;
    position:relative;
    width: 400px;
    height: 266px;
    transition: 2s;
}

.img__agrandar:hover{
    transform: scale(1.5,1.5);
    z-index: 2;
}

section{
    position:relative;
    margin-top: 1px;
}

.animacion2{
    animation:translate 4s;
    transform: translate(-20px,10px);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes translate{ 0%
    {transform:translate(10px,10px);
    }
}

.banner{
    width: 750px;
    height: 139px;
    margin-left: 20%;
}

.div__centrar{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(to top,rgb(62, 70, 78),rgb(174,198,223));
    font-size: 25px;
    height: 45px;;
}

article{
    text-align: center;
    font-size: 40px;
}

.centrarTexto{
    text-align: center;
}

.bio{
    font-size: 20px;
}

.article__legales{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 40px;
    padding: 40px;
}

.contenedor{
    width: 100%;
    max-width: 100%;
    margin:0 auto;
    overflow: scroll;
}

.img__centrar{
    margin-left: 15%;
}

.img__indexCentrar{
    margin-left: 30vw;
}

@keyframes animacion{
    from {background-color: rgb(174, 198, 223);}
    to {background-color: rgb(199, 199, 199);}
}

header{
    background-color: rgb(174, 198, 223);
    animation-duration: 3s;
    animation-name: animacion;
    transition: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.contactanos{
    font-size: 25px;
    background-color: none;
    width:700px;
    height:50px;
    margin-bottom: 60px;
}

.articulo{
    font-size: 20px;
    margin-bottom: 20px;
}

.header__titulo{
    font-size: 40px;
    margin-top: 0;
    position: relative;
}

.header__subtitulo{
    font-size: 28px;
}

@media screen and(max-width: 768px){
 .header__titulo{
    font-size: 30px;
 }
 .header__subtitulo{
    font-size:20px;
 }
 .centrarMenu{
    font-size: 15px bold;
 }

 .img__indexCentrar{
     margin-left: 0%;
 }
}

footer{
    background-image: linear-gradient(to top,rgb(62, 70, 78),rgb(174,198,223));
    border-style: none;
    margin-top:2rem;
     em{
        margin-left: 0;
        text-align: center;
        font-family: monospace;
        font-size: 15px;
    }
}


form{
    position: relative;
    background-image: linear-gradient(to top,rgb(116, 129, 143),rgb(174,198,223),rgb(116, 129, 143));
    border-style:none;
    width: 200px;
    height: 200Px;
    padding: 2px;
    text-align: center;
}

.ejeY{
    display: flex;
    flex-direction: column;
    border: none;
    margin-top:6%;
    padding:0;
    text-align: center;
}

@for $i from 1 to 3 {
    .tamañoLetra-#{$i}{font-size: 20px*$i;}
}

$colores: lightblue, cyan, darkblue;

@each $color in $colores {
    .color-#{$color}{
        color:$color;
    }
}

@mixin tamaño($width,$height){
    height:$height;
    width:$width;
    }

.tamaño{
    @include tamaño($width:fit-content,$height:auto);
}

.btn {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-secondary {
    color: rgb(62, 70, 78);
    background-color: rgb(174,198,223);
    border-color: rgb(174,198,223);
    border-radius:0;
}

.div_menu_letra{
    font-size: 1.5rem;
    color: #212529;
    text-align: left;
    list-style: none;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #212529;
    background-color: rgb(174, 198, 223);
    border-color: rgb(174, 198, 223);
    box-shadow: rgb(62, 70, 78);
}